.sidebar-container{
    width: 83%;
    background-color: white;
    height: 100%;
    position: fixed;
    left: 0;
    margin-top: 52px;
}
p{
    font-family:sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 40px;
}
a:hover{
    color:blue;
}
a{
    position: absolute;
    margin-left: 40px;
    text-decoration: none;
    font-family:sans-serif;
    color: rgb(99, 97, 97);
}